 @media (min-width:1218px){
	*{
	margin: 0;
	padding: 0;
}
body{
/* 	min-width: 1000px; */
	//border: solid black;
	font-family:"HelveticaNeue-Thin", helvetica, arial, sans-serif;
	background-color: #e9ecf4;
}
.div1{
	width:100%;
	height:83px;
	background-color: #405d9b;
}
.btn-login-responsive{
	display:none;
}	
.logo{
	width:30%;
	padding-top: 10px;
	margin-left: 130px;
	float:left;
	/*background-color: yellow;*/

}
.login{
	width:41%;
	padding-top: 10px;
	float:right;
	/*background-color: red;*/
}
.login-table{
	margin-top: 4px;
}
.login-text{
	color:#fff;
	font-size: 12px;
	
}
.login-text1{
	color:#fff;
	font-size: 12px;
	margin-left: 10px;
}
.login-input{
	width: 145px;
	height: 23px;
	padding-left: 5px;
	border:none;
	font-size:12px;
	box-shadow: 1px 0 1px 0;
}
.marg{
	margin-left: 15px;
}
.btn-login{
	height:22px;
	width:48px;
	font-size: 13px;
	color:#fff;
	background-color: #456cba;
	border:solid #4267b2;
	margin-left: 15px;
	line-height: 10px;
  box-shadow: 0 0 1px 0 #000;
}
.btn-login:hover{
	background-color: #2d4b87;
	border:solid #2d4b87;
	cursor: pointer;		
}
.forg{
	text-decoration: none;
	color: #8fbed1;
	font-size: 12px;
}
.div2{
	width: 100%;
	padding: 0 0 20px 0;
}
.left{
	width:42%;
	height: 200px;
	margin: 2em 0 0 6em;
	float: left;
/*  	background-color: orange;  */
}
.right{
	width:42%;
	margin: 0.6em 0 0 0;
	padding:1em;
	float:right;
/* 	border:solid 1px blue; */
}
.left-content{
	width:100%;
	color:#0e385f;
	margin:0.7em 0 0 3em;
	font-weight: normal;
}
.left-text{
	width:90%;
/*  	border: 1px solid black;  */
}
.left-heading{
	width:100%;
	font-size: 20px;
/* 	border: 1px solid black;   */
}

.left-img{
	width:100%;
}
#right-main-heading> h2{
	font-size: 36px;
	color: #333333;
/* 	border:1px solid; */
}
#right-main-heading> p{
	font-size: 18px;
	margin-top:0.5em;
	color: #333333;
	
}
#form1{
	margin-top: 20px;
	width:450px;
/* 	border:1px green solid; */
}
.common{
	width: 200px;
	height: 38px;
	font-size: 18px;
	color: gray;
	background-color: #ffffff;
	border: solid 1px  #bbc4dd;
	border-radius: 5px;
}
#input2{
	margin-left: 10px;
}
.common1{
	width: 413px;
	height: 38px;
	margin-top: 10px;
	font-size: 18px;
	color: gray;
	border: solid 1px #bbc4dd;
	border-radius: 5px;
}



#month{
	width: 70px;
	height: 30px;
	margin-top: 10px;
	font-size: 14px;
	text-align: center;
	position: relative;
	left: -7px;
	border: solid 1px lightgray;
	background-color: #ffffff;
}
#day{
	width: 70px;
	height: 30px;
	margin-top: 10px;
	font-size: 14px;
	text-align: center;
	background-color: #ffffff;
	border: solid 1px lightgray;
	
	
}
#year{
	width: 70px;
	height: 30px;
	font-size: 14px;
	text-align: center;
	background-color: #ffffff;
  position: relative;
	left: -12px;
	border: solid 1px lightgray;
	
}
.reason-date{
/*   border:1px solid purple;    */
	width:150px;
	float:right; 
 	margin-top:10px;
	margin-right:75px;
	text-decoration: none;
	font-size:11px;
/* 	padding:10px; */
	
}
.link-reason-date{
	text-decoration: none;
	color:#405d9b;
}
.link-reason-date:hover{
	text-decoration: underline;
}
.privacy-text{
/* 	border:1px solid #000; */
	width:320px;
	color:gray;
	font-size: 12px;
}
.link-privacy-text{
	text-decoration: none;
	font-size: 11px;
	color:#405d9b;
}
.radio{
 	margin:10px 0 0 15px;
/* 	border:1px solid; */

}
.gender{
	font-size: 14px;
}
.g1{
	margin-left: 15px;
}
#btn1{
	background-color: #76af6a;
	width: 215px;
	height: 45px;
	color: white;
	cursor: pointer;
	margin-top: 10px;
	font-size: 18px;
	border: solid 1px #5d9551;
	border-radius: 5px;
	box-shadow: 0 4px 2px -2px gray;
 
}
#btn1:hover{
	background-color: #86b87a;
	
}
#bday{
	font-size: 19px;
	color: #333333;
	
}
#form1 placeholder{
	margin-left: 10px;
}
#cpage{
/* 	border-top: solid 2px lightgray; */
	width: 430px;
	padding-top: 20px;
	margin-top: 20px;	
}
#cpage a{
	color: #405d9b;
	font-weight: bold;
	font-size: 14px;
}
#cpage >  p{
	font-size: 14px;
	color: #666666;
	font-weight: bold;
	margin-bottom: 10px;	
}
.div3{
	width:100%;
/* 	height:150px; */
	padding-bottom:20px;
	background-color: #fff;
}
.footer1{
	width:75%;
	margin:auto;
	padding:0 0 8px 0px;
	height:20px;
 	border-bottom:solid 1px  #c0c0c0; 
}
.footer1-text p{
	display: inline;
	color:#a6a6a6;
	font-size: 14px;	
}
.footer1-text a{
	color:#405d9b;
	font-size: 13px;
	margin-left: 10px;
	text-decoration: none;
}
#footer1-lastlink{
	margin-right:10px;
}
.footer1-text button{
	width:30px;
	height:20px;
	margin-top:5px;
	line-height: 8px;
	text-align: center;
	font-size: 15px;
	cursor: pointer;
	border: 1px solid #c0c0c0; 
	background-color: #fff;
}
.footer1-text button:hover{
	background-color: #f2f2f2;
	text-decoration: ;
}
.footer2{
	width:75%;
	margin:auto;
	
}
.footer2-links{
	width:880px;
/* 	height:20px; */
	padding: 5px 0 10px 0;
/* 	border-bottom:solid 1px; */
	
}
.footer2-ul {
	width:100%;
	list-style: none;
}
.footer2-li{
	float:left;
	display: block;
	width:9%; 
	margin: 3px 0 3px 0;
	font-size: 12px;
  color:#405d9b;
}
.footer2-li-links{
 	width:100%; 
	display: block;
/* 	border:1px solid; */
	color:#405d9b;
	text-decoration:none;
}
.copy-right{
	color:#9d9fa0;
	font-size: 12px;
	margin-top:25px;
}
.div1::after,
.div2::after,
.bday-div::after,
.footer2-links::after,
.reason-date::after 
{
	content: "";
	display: block;
	clear: both;
}
}
/*@media (min-width:900px) and (max-width:1149px)
*/
@media screen and (max-width: 1217px) and (min-width: 1037px)
{
		*{
	margin: 0;
	padding: 0;
}
body{
/* 	min-width: 1000px; */
	//border: solid black;
	font-family:"HelveticaNeue-Thin", helvetica, arial, sans-serif;
	background-color: #e9ecf4;
/* 	background-color: red; */

}
.btn-login-responsive{
	display:none;
}	
.div1{
	width:100%;
	height:83px;
	background-color: #405d9b;
}
.logo{
	width:30%;
	padding-top: 10px;
	margin-left: 130px;
	float:left;
	/*background-color: yellow;*/

}
.login{
	width:41%;
	padding-top: 10px;
	float:right;
	/*background-color: red;*/
}
.login-table{
	margin-top: 4px;
}
.login-text{
	color:#fff;
	font-size: 12px;
	
}
.login-text1{
	color:#fff;
	font-size: 12px;
	margin-left: 10px;
}
.login-input{
	width: 145px;
	height: 23px;
	padding-left: 5px;
	border:none;
	font-size:12px;
	box-shadow: 1px 0 1px 0;
}
.marg{
	margin-left: 15px;
}
.btn-login{
	height:22px;
	width:48px;
	font-size: 13px;
	color:#fff;
	background-color: #456cba;
	border:solid #4267b2;
	margin-left: 15px;
	line-height: 10px;
  box-shadow: 0 0 1px 0 #000;
}
.btn-login:hover{
	background-color: #2d4b87;
	border:solid #2d4b87;
	cursor: pointer;		
}
.forg{
	text-decoration: none;
	color: #8fbed1;
	font-size: 12px;
}
.div2{
	width: 100%;
	padding: 0 0 20px 0;
}
.left{
	width:42%;
	height: 200px;
	margin: 2em 0 0 6em;
	float: left;
/*  	background-color: orange;  */
}
.right{
	width:42%;
	margin: 0.6em 0 0 0;
	padding:1em;
	float:right;
/* 	border:solid 1px blue; */
}
.left-content{
	width:100%;
	color:#0e385f;
	margin:0.7em 0 0 3em;
	font-weight: normal;
}
.left-text{
	width:420px;
/*  	border: 1px solid yellow;   */
}
.left-heading{
	font-size: 18px;
/*  	border: 1px solid red;  */
}

.left-img{
	width:100%;
}
#right-main-heading> h2{
	font-size: 32px;
	color: #333333;
/* 	border:1px solid; */
}
#right-main-heading> p{
	font-size: 17px;
	margin-top:0.5em;
	color: #333333;
	
}
#form1{
	margin-top: 20px;
	width:450px;
/* 	border:1px green solid; */
}
.common{
	width: 200px;
	height: 38px;
	font-size: 18px;
	color: gray;
	background-color: #ffffff;
	border: solid 1px  #bbc4dd;
	border-radius: 5px;
}
#input2{
	margin-left: 10px;
}
.common1{
	width: 413px;
	height: 38px;
	margin-top: 10px;
	font-size: 18px;
	color: gray;
	border: solid 1px #bbc4dd;
	border-radius: 5px;
}



#month{
	width: 70px;
	height: 30px;
	margin-top: 10px;
	font-size: 14px;
	text-align: center;
	position: relative;
	left: -7px;
	border: solid 1px lightgray;
	background-color: #ffffff;
}
#day{
	width: 70px;
	height: 30px;
	margin-top: 10px;
	font-size: 14px;
	text-align: center;
	background-color: #ffffff;
	border: solid 1px lightgray;
	
	
}
#year{
	width: 70px;
	height: 30px;
	font-size: 14px;
	text-align: center;
	background-color: #ffffff;
  position: relative;
	left: -12px;
	border: solid 1px lightgray;
	
}
.reason-date{
/*   border:1px solid purple;    */
	width:150px;
	float:right; 
 	margin-top:10px;
	margin-right:75px;
	text-decoration: none;
	font-size:11px;
/* 	padding:10px; */
	
}
.link-reason-date{
	text-decoration: none;
	color:#405d9b;
}
.link-reason-date:hover{
	text-decoration: underline;
}
.privacy-text{
/* 	border:1px solid #000; */
	width:320px;
	color:gray;
	font-size: 12px;
}
.link-privacy-text{
	text-decoration: none;
	font-size: 11px;
	color:#405d9b;
}
.radio{
 	margin:10px 0 0 15px;
/* 	border:1px solid; */

}
.gender{
	font-size: 14px;
}
.g1{
	margin-left: 15px;
}
#btn1{
	background-color: #76af6a;
	width: 215px;
	height: 45px;
	color: white;
	cursor: pointer;
	margin-top: 10px;
	font-size: 18px;
	border: solid 1px #5d9551;
	border-radius: 5px;
	box-shadow: 0 4px 2px -2px gray;
 
}
#btn1:hover{
	background-color: #86b87a;
	
}
#bday{
	font-size: 19px;
	color: #333333;
	
}
#form1 placeholder{
	margin-left: 10px;
}
#cpage{
/* 	border-top: solid 2px lightgray; */
	width: 430px;
	padding-top: 20px;
	margin-top: 20px;	
}
#cpage a{
	color: #405d9b;
	font-weight: bold;
	font-size: 14px;
}
#cpage >  p{
	font-size: 14px;
	color: #666666;
	font-weight: bold;
	margin-bottom: 10px;	
}
.div3{
	width:100%;
/* 	height:150px; */
	padding-bottom:20px;
	background-color: #fff;
}
.footer1{
	width:90%;
	margin:auto;
	padding:0 0 8px 0px;
	height:20px;
 	border-bottom:solid 1px  #c0c0c0; 
}
.footer1-text p{
	display: inline;
	color:#a6a6a6;
	font-size: 14px;	
}
.footer1-text a{
	color:#405d9b;
	font-size: 13px;
	margin-left: 10px;
	text-decoration: none;
}
#footer1-lastlink{
	margin-right:10px;
}
.footer1-text button{
	width:30px;
	height:20px;
	margin-top:5px;
	line-height: 8px;
	text-align: center;
	font-size: 15px;
	cursor: pointer;
	border: 1px solid #c0c0c0; 
	background-color: #fff;
}
.footer1-text button:hover{
	background-color: #f2f2f2;
	text-decoration: ;
}
.footer2{
	width:90%;
	margin:auto;
	
}
.footer2-links{
	width:880px;
/* 	height:20px; */
	padding: 5px 0 10px 0;
/* 	border-bottom:solid 1px; */
	
}
.footer2-ul {
	width:100%;
	list-style: none;
}
.footer2-li{
	float:left;
	display: block;
	width:9%; 
	margin: 3px 0 3px 0;
	font-size: 12px;
  color:#405d9b;
}
.footer2-li-links{
 	width:100%; 
	display: block;
/* 	border:1px solid; */
	color:#405d9b;
	text-decoration:none;
}
.copy-right{
	color:#9d9fa0;
	font-size: 12px;
	margin-top:25px;
}
.div1::after,
.div2::after,
.bday-div::after,
.footer2-links::after,
.reason-date::after 
{
	content: "";
	display: block;
	clear: both;
}
}
@media screen and (max-width: 1036px) and (min-width: 850px)
{
		*{
	margin: 0;
	padding: 0;
}
body{
/* 	min-width: 1000px; */
	//border: solid black;
	font-family:"HelveticaNeue-Thin", helvetica, arial, sans-serif;
	background-color: #e9ecf4;
/* 	background-color: red; */

}
.div1{
	width:100%;
	height:83px;
	background-color: #405d9b;
}
.btn-login-responsive{
	display:none;
}	
.logo{
	width:20%;
	padding-top: 10px;
	margin-left: 75px;
	float:left;
/* 	border:solid 1px yellow; */

}
.login{
	width:45%;
	padding-top: 10px;
	float:right;
/* 	border:1px solid red; */
}
.login-table{
	margin-top: 4px;
}
.login-text{
	color:#fff;
	font-size: 12px;
	
}
.login-text1{
	color:#fff;
	font-size: 12px;
	margin-left: 10px;
}
.login-input{
	width: 130px;
	height: 23px;
	padding-left: 5px;
	border:none;
	font-size:12px;
	box-shadow: 1px 0 1px 0;
}
.marg{
	margin-left: 5px;
}
.btn-login{
	height:22px;
	width:48px;
	font-size: 12px;
	color:#fff;
	background-color: #456cba;
	border:solid #4267b2;
	margin-left: 5px;
	line-height: 10px;
  box-shadow: 0 0 1px 0 #000;
}
.btn-login:hover{
	background-color: #2d4b87;
	border:solid #2d4b87;
	cursor: pointer;		
}
.forg{
	text-decoration: none;
	color: #8fbed1;
	font-size: 12px;
}
.div2{
	width: 100%;
}
.left{
	width:40%;
	height: 200px;
	margin: 1em 0 0 2em;
	float: left;
/*  	background-color: orange;  */
}
.right{
	width:46%;
	margin: 0 0 0 0;
	padding:.5em;
	float:right;
/*  	border:solid 1px blue;  */
}
.left-content{
	width:100%;
	color:#0e385f;
	margin:0.7em 0 0 3em;
	font-weight: normal;
}
.left-text{
	width:350px;
/*  	border: 1px solid black;   */
}
.left-heading{
	font-size: 15px;
/*  	border: 1px solid red;  */
}

.left-img{
	width:380px;
	margin-top:20px;
}
#right-main-heading> h2{
	font-size: 28px;
	color: #333333;
/* 	border:1px solid; */
}
#right-main-heading> p{
	font-size: 17px;
	color: #333333;
	
}
#form1{
	margin-top: 10px;
/* 	width:400px; */
/*  	border:1px green solid;  */
}
.common{
	width: 178px;
	height: 35px;
	font-size: 16px;
	color: gray;
	background-color: #ffffff;
	border: solid 1px  #bbc4dd;
	border-radius: 5px;
}
.common1{
	width: 360px;
	height: 35px;
	margin-top: 5px;
	font-size: 16px;
	color: gray;
	border: solid 1px #bbc4dd;
	border-radius: 5px;
}
#month{
	width: 70px;
	height: 30px;
	font-size: 14px;
	text-align: center;
	position: relative;
	left: -7px;
	border: solid 1px lightgray;
	background-color: #ffffff;
}
#day{
	width: 70px;
	height: 30px;
	margin-top: 5px;
	font-size: 14px;
	text-align: center;
	background-color: #ffffff;
	border: solid 1px lightgray;
	
	
}
#year{
	width: 70px;
	height: 30px;
	font-size: 14px;
	text-align: center;
	background-color: #ffffff;
  position: relative;
	left: -12px;
	border: solid 1px lightgray;
	
}
.reason-date{
/*  border:1px solid purple;  */
	width:150px;
/* 	float:right;  */
 	margin-top:10px;
	text-decoration: none;
	font-size:11px;
/* 	padding:10px; */
	
}
.link-reason-date{
	text-decoration: none;
	color:#405d9b;
}
.link-reason-date:hover{
	text-decoration: underline;
}
.privacy-text{
/*  	border:1px solid #000;  */
	width:320px;
	color:gray;
	font-size: 12px;
	margin-top:-20px;
}
.link-privacy-text{
	text-decoration: none;
	font-size: 11px;
	color:#405d9b;
}
.radio{
 	margin: 0 0 10px 10px;
/* 	border:1px solid; */

}
.gender{
	font-size: 13px;
}
.g1{
	margin-left: 10px;
}
#btn1{
	background-color: #76af6a;
	width: 170px;
	height: 45px;
	color: white;
	cursor: pointer;
	margin-top: 10px;
	font-size: 16px;
	border: solid 1px #5d9551;
	border-radius: 5px;
	box-shadow: 0 4px 2px -2px gray;
 
}
#btn1:hover{
	background-color: #86b87a;
	
}
#bday{
	font-size: 17px;
	color: #333333;
	
}
#form1 placeholder{
	margin-left: 10px;
}
#cpage{
/* 	border-top: solid 2px lightgray;  */
	width: 350px;
	padding-top: 10px;
	margin-top: 10px;	
}
#cpage a{
	color: #405d9b;
	font-weight: bold;
	font-size: 14px;
}
#cpage >  p{
	font-size: 14px;
	color: #666666;
	font-weight: bold;
	margin-bottom: 10px;	
}
.div3{
	width:100%;
/* 	height:150px; */
	padding-bottom:20px;
	background-color: #fff;
}
.footer1{
	width:90%;
	margin:auto;
	padding:0 0 8px 0px;
	height:20px;
 	border-bottom:solid 1px  #c0c0c0; 
}
.footer1-text p{
	display: inline;
	color:#a6a6a6;
	font-size: 14px;	
}
.footer1-text a{
	color:#405d9b;
	font-size: 13px;
	margin-left: 10px;
	text-decoration: none;
}
#footer1-lastlink{
	margin-right:10px;
}
.footer1-text button{
	width:30px;
	height:20px;
	margin-top:5px;
	line-height: 8px;
	text-align: center;
	font-size: 15px;
	cursor: pointer;
	border: 1px solid #c0c0c0; 
	background-color: #fff;
}
.footer1-text button:hover{
	background-color: #f2f2f2;
	text-decoration: ;
}
.footer2{
	width:90%;
	margin:auto;
	
}
.footer2-links{
/* 	width:780px; */
/* 	height:20px; */
	padding: 5px 0 10px 0;
/* 	border-bottom:solid 1px; */
	
}
.footer2-ul {
	width:100%;
	list-style: none;
}
.footer2-li{
	float:left;
	padding: 5px;
	display: block;
 	width:80px; 
	margin: 1px 0 1px 0;
	font-size: 12px;
  color:#405d9b;
}
.footer2-li-links{
 	width:100%;  
	display: block;
/* 	border:1px solid; */
	color:#405d9b;
	text-decoration:none;
}
.copy-right{
	color:#9d9fa0;
	font-size: 12px;
	margin-top:5px;
}
.div1::after,
.div2::after,
.bday-div::after,
.footer2-links::after,
.reason-date::after 
{
	content: "";
	display: block;
	clear: both;
}
}
@media screen and (max-width: 849px) and (min-width: 720px)
{
		*{
	margin: 0;
	padding: 0;
}
body{
/* 	min-width: 1000px; */
	//border: solid black;
	font-family:"HelveticaNeue-Thin", helvetica, arial, sans-serif;
	background-color: #e9ecf4;
/* 	background-color: red; */

}
.div1{
	width:100%;
	height:83px;
	background-color: #405d9b;
}
.btn-login-responsive{
	display:none;
}	
.logo{
	width:20%;
	padding-top: 10px;
	margin-left: 55px;
	float:left;
/* 	border:solid 1px yellow; */

}
.login{
	width:48%;
	padding-top: 10px;
	float:right;
/* 	border:1px solid red; */
}
.login-table{
	margin-top: 4px;
}
.login-text{
	color:#fff;
	font-size: 12px;
	
}
.login-text1{
	color:#fff;
	font-size: 12px;
	margin-left: 10px;
}
.login-input{
	width: 130px;
	height: 23px;
	padding-left: 5px;
	border:none;
	font-size:12px;
	box-shadow: 1px 0 1px 0;
}
.marg{
	margin-left: 5px;
}
.btn-login{
	height:22px;
	width:48px;
	font-size: 12px;
	color:#fff;
	background-color: #456cba;
	border:solid #4267b2;
	margin-left: 5px;
	line-height: 10px;
  box-shadow: 0 0 1px 0 #000;
}
.btn-login:hover{
	background-color: #2d4b87;
	border:solid #2d4b87;
	cursor: pointer;		
}
.forg{
	text-decoration: none;
	color: #8fbed1;
	font-size: 12px;
}
.div2{
	width: 100%;
}
.left{
	width:40%;
	height: 200px;
	margin: 1em 0 0 1em;
	float: left;
/*  	background-color: orange;  */
}
.right{
	width:47%;
	margin: 10px 0 0 0;
	float:right;
/*  	border:solid 1px blue;  */
}
.left-content{
	width:100%;
	color:#0e385f;
	margin:0.7em 0 0 3em;
	font-weight: normal;
}
.left-text{
	width:300px;
/*  	border: 1px solid black;   */
}
.left-heading{
	font-size: 15px;
/*  	border: 1px solid red;  */
}

.left-img{
	width:360px;
	margin-top:40px;
}
#right-main-heading> h2{
	font-size: 26px;
	color: #333333;
/* 	border:1px solid; */
}
#right-main-heading> p{
	font-size: 17px;
	color: #333333;
	
}
#form1{
	margin-top: 10px;
/* 	width:400px; */
/*  	border:1px green solid;  */
}
.common{
	width: 158px;
	height: 35px;
	font-size: 16px;
	color: gray;
	background-color: #ffffff;
	border: solid 1px  #bbc4dd;
	border-radius: 5px;
}
.common1{
	width: 324px;
	height: 35px;
	margin-top: 5px;
	font-size: 16px;
	color: gray;
	border: solid 1px #bbc4dd;
	border-radius: 5px;
}
#month{
	width: 70px;
	height: 30px;
	font-size: 14px;
	text-align: center;
	position: relative;
	left: -7px;
	border: solid 1px lightgray;
	background-color: #ffffff;
}
#day{
	width: 70px;
	height: 30px;
	margin-top: 5px;
	font-size: 14px;
	text-align: center;
	background-color: #ffffff;
	border: solid 1px lightgray;
	
	
}
#year{
	width: 70px;
	height: 30px;
	font-size: 14px;
	text-align: center;
	background-color: #ffffff;
  position: relative;
	left: -12px;
	border: solid 1px lightgray;
	
}
.reason-date{
/*   border:1px solid purple;   */
	width:150px;
/* 	float:right;  */
 	margin-top:10px;
	text-decoration: none;
	font-size:11px;
/* 	padding:10px; */
	
}
.link-reason-date{
	text-decoration: none;
	color:#405d9b;
}
.link-reason-date:hover{
	text-decoration: underline;
}
.privacy-text{
/* 	border:1px solid #000;   */
	width:320px;
	color:gray;
	font-size: 12px;
	margin-top:-20px;
}
.link-privacy-text{
	text-decoration: none;
	font-size: 11px;
	color:#405d9b;
}
.radio{
 	margin: 0 0 10px 10px;
/* 	border:1px solid; */

}
.gender{
	font-size: 13px;
}
.g1{
	margin-left: 10px;
}
#btn1{
	background-color: #76af6a;
	width: 170px;
	height: 45px;
	color: white;
	cursor: pointer;
	margin-top: 10px;
	font-size: 16px;
	border: solid 1px #5d9551;
	border-radius: 5px;
	box-shadow: 0 4px 2px -2px gray;
 
}
#btn1:hover{
	background-color: #86b87a;
	
}
#bday{
	font-size: 17px;
	color: #333333;
	
}
#form1 placeholder{
	margin-left: 10px;
}
#cpage{
/* 	border-top: solid 2px lightgray;   */
	width: 310px;
	padding-top: 10px;
	margin-top: 10px;	
}
#cpage a{
	color: #405d9b;
	font-weight: bold;
	font-size: 14px;
}
#cpage >  p{
	font-size: 14px;
	color: #666666;
	font-weight: bold;
	margin-bottom: 10px;	
}
.div3{
	width:100%;
/* 	height:150px; */
	padding-bottom:20px;
	background-color: #fff;
}
.footer1{
	width:90%;
	margin:auto;
	padding:0 0 8px 0px;
	height:20px;
 	border-bottom:solid 1px  #c0c0c0; 
}
.footer1-text p{
	display: inline;
	color:#a6a6a6;
	font-size: 14px;	
}
.footer1-text a{
	color:#405d9b;
	font-size: 13px;
	margin-left: 10px;
	text-decoration: none;
}
#footer1-lastlink{
	margin-right:10px;
}
.footer1-text button{
	width:30px;
	height:20px;
	margin-top:5px;
	line-height: 8px;
	text-align: center;
	font-size: 15px;
	cursor: pointer;
	border: 1px solid #c0c0c0; 
	background-color: #fff;
}
.footer1-text button:hover{
	background-color: #f2f2f2;
	text-decoration: ;
}
.footer2{
	width:90%;
	margin:auto;
	
}
.footer2-links{
/* 	width:780px; */
/* 	height:20px; */
	padding: 5px 0 10px 0;
/* 	border-bottom:solid 1px; */
	
}
.footer2-ul {
	width:100%;
	list-style: none;
}
.footer2-li{
	float:left;
	padding: 5px;
	display: block;
 	width:80px; 
	margin: 1px 0 1px 0;
	font-size: 12px;
  color:#405d9b;
}
.footer2-li-links{
 	width:100%;  
	display: block;
/* 	border:1px solid; */
	color:#405d9b;
	text-decoration:none;
}
.copy-right{
	color:#9d9fa0;
	font-size: 12px;
	margin-top:5px;
}
.div1::after,
.div2::after,
.bday-div::after,
.footer2-links::after,
.reason-date::after 
{
	content: "";
	display: block;
	clear: both;
}
}
@media screen and (max-width: 719px) and (min-width:586px)
{
		*{
	margin: 0;
	padding: 0;
}
body{
/* 	min-width: 1000px; */
	//border: solid black;
	font-family:"HelveticaNeue-Thin", helvetica, arial, sans-serif;
	background-color: #e9ecf4;
/* 	background-color: red; */

}
.div1{
	width:100%;
	height:83px;
	background-color: #405d9b;
}
.btn-login-responsive{
	display:none;
}	
.logo{
/* 	width:20%; */
	padding-top: 10px;
	margin-left: 45px;
	float:left;
/* 	border:solid 1px yellow; */

}
	.logo-img{
		display: inline-block;
		width:155px;
/* 		border:solid pink 2px; */
	}
.login{
 	width:46%; 
	padding-top: 10px;
	float:right;
/* 	border:1px solid red; */
}
.login-table{
	margin-top: 4px;
}
.login-text{
	color:#fff;
	font-size: 12px;
	
}
.login-text1{
	color:#fff;
	font-size: 12px;
	margin-left: 10px;
}
.login-input{
	width: 120px;
	height: 23px;
	padding-left: 5px;
	border:none;
	font-size:12px;
	box-shadow: 1px 0 1px 0;
}
.marg{
	margin-left: 5px;
}
	.login-table{
		position: relative;
	}
.btn-login{
	height:20px;
	width:48px;
	font-size: 12px;
	color:#fff;
	background-color: #456cba;
	border:solid #4267b2;
	margin-left: 5px;
	line-height: 10px;
  box-shadow: 0 0 1px 0 #000;
	position: absolute;
 	top: 47px; 
 	right: 5px; 
}
.btn-login:hover{
	background-color: #2d4b87;
	border:solid #2d4b87;
	cursor: pointer;		
}
.forg{
	text-decoration: none;
	color: #8fbed1;
	font-size: 12px;
	position: relative;
	right:130px
}
.div2{
	width: 100%;
}
.left{
	width:38%;
/* 	height: 200px; */
	margin: 1em 0 0 0em;
	float: left;
/*  	background-color: orange;  */
}
.right{
	width:47%;
	margin: 0 0 0 0;
	padding:.5em;
	float:right;
/*  	border:solid 1px blue;  */
}
.left-content{
	width:100%;
	color:#0e385f;
	margin:0.7em 0 0 3em;
	font-weight: normal;
}
.left-text{
	width:250px;
/*  	border: 1px solid black;   */
}
.left-heading{
	font-size: 15px;
/*  	border: 1px solid red;  */
}

.left-img{
	width:280px;
	margin-top:60px;
}
#right-main-heading> h2{
	font-size: 24px;
	color: #333333;
/* 	border:1px solid; */
}
#right-main-heading> p{
	font-size: 16px;
	color: #333333;
	
}
#form1{
	margin-top: 5px;
/* 	width:400px; */
/*  	border:1px green solid;  */
}
.common{
	width: 133px;
	height: 30px;
	font-size: 15px;
	color: gray;
	background-color: #ffffff;
	border: solid 1px  #bbc4dd;
	border-radius: 5px;
}
.common1{
	width: 270px;
	height: 30px;
	margin-top: 5px;
	font-size: 16px;
	color: gray;
	border: solid 1px #bbc4dd;
	border-radius: 5px;
}
#month{
	width: 70px;
	height: 30px;
	font-size: 14px;
	text-align: center;
	position: relative;
	left: -7px;
	border: solid 1px lightgray;
	background-color: #ffffff;
}
#day{
	width: 70px;
	height: 30px;
	margin-top: 5px;
	font-size: 14px;
	text-align: center;
	background-color: #ffffff;
	border: solid 1px lightgray;
		
}
#year{
	width: 70px;
	height: 30px;
	font-size: 14px;
	text-align: center;
	background-color: #ffffff;
  position: relative;
	left: -12px;
	border: solid 1px lightgray;
	
}
.reason-date{
/*  border:1px solid purple;  */
	width:150px;
/* 	float:right;  */
 	margin-top:10px;
	text-decoration: none;
	font-size:11px;
/* 	padding:10px; */
	
}
.link-reason-date{
	text-decoration: none;
	color:#405d9b;
}
.link-reason-date:hover{
	text-decoration: underline;
}
.privacy-text{
/*  	border:1px solid #000;  */
	width:260px;
	color:gray;
	font-size: 12px;
	margin-top:-20px;
}
.link-privacy-text{
	text-decoration: none;
	font-size: 11px;
	color:#405d9b;
}
.radio{
 	margin: 0 0 10px 10px;
/* 	border:1px solid; */

}
.gender{
	font-size: 13px;
}
.g1{
	margin-left: 10px;
}
#btn1{
	background-color: #76af6a;
	width: 150px;
	height: 45px;
	color: white;
	cursor: pointer;
	margin-top: 10px;
	font-size: 16px;
	border: solid 1px #5d9551;
	border-radius: 5px;
	box-shadow: 0 4px 2px -2px gray;
 
}
#btn1:hover{
	background-color: #86b87a;
	
}
#bday{
	font-size: 17px;
	color: #333333;
	
}
#form1 placeholder{
	margin-left: 10px;
}
#cpage{
/* 	border-top: solid 2px lightgray;  */
	width: 260px;
	padding-top: 10px;
	margin-top: 10px;	
}
#cpage a{
	color: #405d9b;
	font-weight: bold;
	font-size: 14px;
}
#cpage >  p{
	font-size: 14px;
	color: #666666;
	font-weight: bold;
	margin-bottom: 10px;	
}
.div3{
	width:100%;
/* 	height:150px; */
	padding-bottom:20px;
	background-color: #fff;
}
.footer1{
	width:90%;
	margin:auto;
	padding:0 0 8px 0px;
	height:20px;
 	border-bottom:solid 1px  #c0c0c0; 
}
.footer1-text p{
	display: inline;
	color:#a6a6a6;
	font-size: 14px;	
}
.footer1-text a{
	color:#405d9b;
	font-size: 13px;
	margin-left: 10px;
	text-decoration: none;
}
#footer1-lastlink{
	margin-right:10px;
}
.footer1-text button{
	width:30px;
	height:20px;
	margin-top:5px;
	line-height: 8px;
	text-align: center;
	font-size: 15px;
	cursor: pointer;
	border: 1px solid #c0c0c0; 
	background-color: #fff;
}
.footer1-text button:hover{
	background-color: #f2f2f2;
	text-decoration: ;
}
.footer2{
	width:90%;
	margin:auto;
	
}
.footer2-links{
/* 	width:780px; */
/* 	height:20px; */
	padding: 5px 0 10px 0;
/* 	border-bottom:solid 1px; */
	
}
.footer2-ul {
	width:100%;
	list-style: none;
}
.footer2-li{
	float:left;
	padding: 5px;
	display: block;
 	width:80px; 
	margin: 1px 0 1px 0;
	font-size: 12px;
  color:#405d9b;
}
.footer2-li-links{
 	width:100%;  
	display: block;
/* 	border:1px solid; */
	color:#405d9b;
	text-decoration:none;
}
.copy-right{
	color:#9d9fa0;
	font-size: 12px;
	margin-top:5px;
}
.div1::after,
.div2::after,
.bday-div::after,
.footer2-links::after,
.reason-date::after 
{
	content: "";
	display: block;
	clear: both;
}
}
@media screen and (max-width: 585px) and (min-width:535px)
{
		*{
	margin: 0;
	padding: 0;
}
body{
/* 	min-width: 1000px; */
	//border: solid black;
	font-family:"HelveticaNeue-Thin", helvetica, arial, sans-serif;
	background-color: #e9ecf4;
/*  	background-color: red;  */

}
.div1{
	width:100%;
	height:83px;
	background-color: #405d9b;
}
.btn-login-responsive{
	display:none;
}	
.logo{
/* 	width:20%; */
	padding-top: 10px;
	margin:10px 0 0 5px;
	float:left;
/* 	border:solid 1px yellow;  */

}
	.logo-img{
		display: inline-block;
		width:120px;
/* 		border:solid pink 2px; */
	}
.login{
 	max-width:50%;
	min-width: 65;
	padding: 10px 10px 0 0;
	float:right;
/* 	border:1px solid red; */
}
.login-table{
	margin-top: 4px;
}
.login-text{
	color:#fff;
	font-size: 12px;
	
}
.login-text1{
	color:#fff;
	font-size: 12px;
	margin-left: 10px;
}
.login-input{
	width: 94.5%;
	height: 23px;
	padding-left: 5px;
	border:none;
	font-size:12px;
	box-shadow: 1px 0 1px 0;
}
.marg{
	margin-left: 5px;
}
	.login-table{
		position: relative;
	}
.btn-login{
	height:20px;
	width:48px;
	font-size: 12px;
	color:#fff;
	background-color: #456cba;
	border:solid #4267b2;
	margin-left: 5px;
	line-height: 10px;
  box-shadow: 0 0 1px 0 #000;
	position: absolute;
 	top: 47px; 
 	right: 5px; 
}
.btn-login:hover{
	background-color: #2d4b87;
	border:solid #2d4b87;
	cursor: pointer;		
}
.forg{
	text-decoration: none;
	color: #8fbed1;
	font-size: 11px;
	position: relative;
	right:97%;
}
.div2{
	width: 100%;
}
.left{
	display:none;
	width:90%;
/* 	height: 200px; */
	margin: 1em 0 0 0em;
	float: left;
 	background-color: orange; 
}
.right{
	max-width:90%;
	min-width:70%;
	margin: auto;
	padding:.5em;
/* 	background-color: red; */
/* 	float:right; */
/*    	border:solid 1px blue;   */
}

#right-main-heading> h2{
	font-size: 29px;
	color: #333333;
	text-align: center;
/*  	border:1px solid;  */
}
#right-main-heading> p{
	font-size: 19px;
	text-align: center;
	color: #333333;
	
}
#form1{
	width:100%;
	margin-top: 5px;
/*   border:1px green solid;  */
 	position: relative; 

}
	.signup-form{
		
		max-width:95%;
/* 		min-width:70%; */
		margin:auto;
/* 		border:solid 1px yellow;  */
	}
.common{
	
	width: 99%;
	height: 30px;
	font-size: 15px;
	color: gray;
	background-color: #ffffff;
	border: solid 1px  #bbc4dd;
	border-radius: 5px;
}
.common1{
	
	width: 99%;
	height: 30px;
	margin-top: 5px;
	font-size: 16px;
	color: gray;
	border: solid 1px #bbc4dd;
	border-radius: 5px;
}
	#day{	
	width: 70px;
	height: 30px;
	font-size: 14px;
	text-align: center;
	background-color: #ffffff;
	border: solid 1px lightgray;
  position:relative;
	left:65px; 
}
#month{
	width: 70px;
	height: 30px;
	font-size: 14px;
	text-align: center;
 	position: relative;
	left: 60px;
	border: solid 1px lightgray;
	background-color: #ffffff;
}

#year{
	width: 70px;
	height: 30px;
	font-size: 14px;
	text-align: center;
	background-color: #ffffff;
  position:relative;
	left: 55px; 
	border: solid 1px lightgray;
	
}
.reason-date{
/*   border:1px solid purple;   */
	width:200px;
/* 	float:right;  */
 	position: relative;
	left:68px;
	top:10px;
	text-decoration: none;
	font-size:11px;
/* 	padding:10px; */
	
}
.link-reason-date{
	
	text-decoration: none;
	color:#405d9b;
}
.link-reason-date:hover{
	text-decoration: underline;
}
.privacy-text{
/*   border:1px solid #000;   */
	width:260px;
	color:gray;
	font-size: 12px;
	margin-top:-20px;
	position:relative;
	left:68px;
	top: 5px;
}
.link-privacy-text{
	text-decoration: none;
	font-size: 11px;
	color:#405d9b;
}
.radio{
	width:200px;
	position:relative;
	left:68px;
/*  	margin: 0 10px 10px 60px; */
}
.gender{
	font-size: 13px;
}
.g1{
	margin-left: 10px;
}
#btn1{
	background-color: #76af6a;
	width: 130px;
	height: 40px;
	color: white;
	cursor: pointer;
	margin-top: 10px;
	font-size: 15px;
	border: solid 1px #5d9551;
	border-radius: 5px;
	box-shadow: 0 4px 2px -2px gray;
	position: relative;
	left:68px;
  top:5px;
 
}
#btn1:hover{
	background-color: #86b87a;
	
}
#bday{
	font-size: 17px;
	color: #333333;
	position:relative ;
	left:68px;
	bottom: 5px;
/* 	border:solid 1px; */
	
}
#form1 placeholder{
	margin-left: 10px;
}
#cpage{
	border-top: solid 2px lightgray;  
	width: 260px;
	padding-top: 10px;
	margin-top: 10px;
  position: relative;
	left: 68px;
}
#cpage a{
	color: #405d9b;
	font-weight: bold;
	font-size: 14px;
}
#cpage >  p{
	font-size: 14px;
	color: #666666;
	font-weight: bold;
	margin-bottom: 10px;	
}
.div3{
	width:100%;
/* 	height:150px; */
	padding-bottom:20px;
	background-color: #fff;
}
.footer1{
	width:90%;
	margin:auto;
	padding:0 0 8px 0px;
/* 	height:20px; */
 	border-bottom:solid 1px  #c0c0c0; 
}
.footer1-text p{
	display: inline-block;
	color:#a6a6a6;
	font-size: 14px;	
}
.footer1-text a{
	color:#405d9b;
	font-size: 13px;
	margin-left: 10px;
	text-decoration: none;
}
#footer1-lastlink{
	margin-right:10px;
}
.footer1-text button{
	width:30px;
/*  	height:20px;  */
	margin-top:5px;
	line-height: 8px;
	text-align: center;
	font-size: 15px;
	cursor: pointer;
	border: 1px solid #c0c0c0; 
	background-color: #fff;
}
.footer1-text button:hover{
	background-color: #f2f2f2;
	text-decoration: ;
}
.footer2{
	width:90%;
	margin:auto;
	
}
.footer2-links{
/* 	width:780px; */
/* 	height:20px; */
	padding: 5px 0 10px 0;
/* 	border-bottom:solid 1px; */
	
}
.footer2-ul {
	width:100%;
	list-style: none;
}
.footer2-li{
	float:left;
	padding: 5px;
	display: block;
 	width:80px; 
	margin: 1px 0 1px 0;
	font-size: 12px;
  color:#405d9b;
}
.footer2-li-links{
 	width:100%;  
	display: block;
/* 	border:1px solid; */
	color:#405d9b;
	text-decoration:none;
}
.copy-right{
	color:#9d9fa0;
	font-size: 12px;
	margin-top:5px;
}
.div1::after,
.div2::after,
.bday-div::after,
.footer2-links::after,
.reason-date::after 
{
	content: "";
	display: block;
	clear: both;
}
}
@media screen and (max-width: 534px) and (min-width:435px)
{
		*{
	margin: 0;
	padding: 0;
}
body{
/* 	min-width: 1000px; */
	//border: solid black;
	font-family:"HelveticaNeue-Thin", helvetica, arial, sans-serif;
	background-color: #e9ecf4; 
 
}
.div1{
	width:100%;
	height:83px;
	background-color: #405d9b;
}
.btn-login-responsive{
	display:none;
}	
.logo{
/* 	width:20%; */
	padding-top: 10px;
	margin:10px 0 0 5px;
	float:left;
/* 	border:solid 1px yellow;  */

}
	.logo-img{
		display: inline-block;
		width:120px;
/* 		border:solid pink 2px; */
	}
.login{
 	max-width:50%;
	min-width: 65;
	padding: 10px 10px 0 0;
	float:right;
/* 	border:1px solid red; */
}
.login-table{
	
	margin-top: 4px;
}
.login-text{
	color:#fff;
	font-size: 12px;
	
}
.login-text1{
	color:#fff;
	font-size: 12px;
	margin-left: 10px;
}
.login-input{
	width: 94.5%;
	height: 23px;
	padding-left: 5px;
	border:none;
	font-size:12px;
	box-shadow: 1px 0 1px 0;
}
.marg{
	margin-left: 5px;
}
	.login-table{
		position: relative;
	}
.btn-login{
	
	height:20px;
	width:48px;
	font-size: 12px;
	color:#fff;
	background-color: #456cba;
	border:solid #4267b2;
	margin-left: 5px;
	line-height: 10px;
  box-shadow: 0 0 1px 0 #000;
	position: absolute;
 	top: 47px; 
 	right: 5px; 
}
.btn-login:hover{
	background-color: #2d4b87;
	border:solid #2d4b87;
	cursor: pointer;		
}
.forg{
	text-decoration: none;
	color: #8fbed1;
	font-size: 11px;
	position: relative;
	right:97%;
}
.div2{
	width: 100%;
}
.left{
	display:none;
	width:90%;
/* 	height: 200px; */
	margin: 1em 0 0 0em;
	float: left;
 	background-color: orange; 
}
.right{
	
	max-width:90%;
	min-width:70%;
	margin: auto;
	padding:.5em;
/* 	float:right; */
/*    	border:solid 1px blue;   */
}

#right-main-heading> h2{
	font-size: 30px;
	color: #333333;
	text-align: center;
/* 	border:1px solid; */
}
#right-main-heading> p{
	font-size: 19px;
	text-align: center;
	color: #333333;
	
}
#form1{
	width:100%;
	margin-top: 5px;
/*   border:1px green solid; */
 	position: relative; 

}
	.signup-form{
		max-width:95%;
/* 		min-width:70%; */
		margin:auto;
/* 		border:solid 1px yellow; */
	}
.common{
	width: 99%;
	height: 30px;
	font-size: 15px;
	color: gray;
	background-color: #ffffff;
	border: solid 1px  #bbc4dd;
	border-radius: 5px;
}
.common1{
	width: 99%;
	height: 30px;
	margin-top: 5px;
	font-size: 16px;
	color: gray;
	border: solid 1px #bbc4dd;
	border-radius: 5px;
}
	#day{
	width: 70px;
	height: 30px;
	font-size: 14px;
	text-align: center;
	background-color: #ffffff;
	border: solid 1px lightgray;
  position:relative;
	left:45px; 
}
#month{
	width: 70px;
	height: 30px;
	font-size: 14px;
	text-align: center;
 	position: relative;
	left: 40px;
	border: solid 1px lightgray;
	background-color: #ffffff;
}

#year{
	width: 70px;
	height: 30px;
	font-size: 14px;
	text-align: center;
	background-color: #ffffff;
  position:relative;
	left: 35px; 
	border: solid 1px lightgray;
	
}
.reason-date{
/*  border:1px solid purple;  */
	width:290px;
/* 	float:right;  */
 	position: relative;
	left:48px;
	top:10px;
	text-decoration: none;
	font-size:11px;
/* 	padding:10px; */
	
}
.link-reason-date{
	text-decoration: none;
	color:#405d9b;
}
.link-reason-date:hover{
	text-decoration: underline;
}
.privacy-text{
/*  	border:1px solid #000;  */
	width:260px;
	color:gray;
	font-size: 12px;
	margin-top:-20px;
	position:relative;
	left:48px;
	top: 5px;
}
.link-privacy-text{
	text-decoration: none;
	font-size: 11px;
	color:#405d9b;
}
.radio{
	position:relative;
	width:200px;
	left:48px;
/*  	margin: 0 10px 10px 60px; */
}
.gender{
	font-size: 13px;
}
.g1{
	margin-left: 10px;
}
#btn1{
	background-color: #76af6a;
	width: 130px;
	height: 40px;
	color: white;
	cursor: pointer;
	margin-top: 10px;
	font-size: 15px;
	border: solid 1px #5d9551;
	border-radius: 5px;
	box-shadow: 0 4px 2px -2px gray;
	position: relative;
	left:48px;
  top:5px;
 
}
#btn1:hover{
	background-color: #86b87a;
	
}
#bday{
	font-size: 17px;
	color: #333333;
	position:relative ;
	left:48px;
	bottom: 5px;
	
}
#form1 placeholder{
	margin-left: 10px;
}
#cpage{
/* 	border-top: solid 2px lightgray;  */
	width: 260px;
	padding-top: 10px;
	margin-top: 10px;
  position: relative;
	left: 48px;
}
#cpage a{
	color: #405d9b;
	font-weight: bold;
	font-size: 14px;
}
#cpage >  p{
	font-size: 14px;
	color: #666666;
	font-weight: bold;
	margin-bottom: 10px;	
}
.div3{
	width:100%;
/* 	height:150px; */
	padding-bottom:20px;
	background-color: #fff;
}
.footer1{
	width:90%;
	margin:auto;
	padding:0 0 8px 0px;
/* 	height:20px; */
 	border-bottom:solid 1px  #c0c0c0; 
}
.footer1-text p{
	display: inline-block;
	color:#a6a6a6;
	font-size: 14px;	
}
.footer1-text a{
	color:#405d9b;
	font-size: 13px;
	margin-left: 10px;
	text-decoration: none;
}
#footer1-lastlink{
	margin-right:10px;
}
.footer1-text button{
	width:30px;
/*  	height:20px;  */
	margin-top:5px;
	line-height: 8px;
	text-align: center;
	font-size: 15px;
	cursor: pointer;
	border: 1px solid #c0c0c0; 
	background-color: #fff;
}
.footer1-text button:hover{
	background-color: #f2f2f2;
	text-decoration: ;
}
.footer2{
	width:90%;
	margin:auto;
	
}
.footer2-links{
/* 	width:780px; */
/* 	height:20px; */
	padding: 5px 0 10px 0;
/* 	border-bottom:solid 1px; */
	
}
.footer2-ul {
	width:100%;
	list-style: none;
}
.footer2-li{
	float:left;
	padding: 5px;
	display: block;
 	width:80px; 
	margin: 1px 0 1px 0;
	font-size: 12px;
  color:#405d9b;
}
.footer2-li-links{
 	width:100%;  
	display: block;
/* 	border:1px solid; */
	color:#405d9b;
	text-decoration:none;
}
.copy-right{
	color:#9d9fa0;
	font-size: 12px;
	margin-top:5px;
}
.div1::after,
.div2::after,
.bday-div::after,
.footer2-links::after,
.reason-date::after 
{
	content: "";
	display: block;
	clear: both;
}
}
 @media screen and (max-width: 434px) and (min-width:390px) 
{
		*{
	margin: 0;
	padding: 0;
}
body{
/*  	min-width: 406px;  */
	//border: solid black;
	font-family:"HelveticaNeue-Thin", helvetica, arial, sans-serif;
	background-color: #e9ecf4;
  	  

}
.div1{
	width:100%;
	height:83px;
	background-color: #405d9b;
}
.btn-login-responsive{
	height:30px; 
	width:68px;
	font-size: 15px;
	margin-left: 50px;
	color:#fff;
	text-decoration: underline;
	background-color: #405d9b;
	border:1px solid #405d9b;
	border-radius: 3px 3px 3px 3px;
/* 	margin-left: 5px; */
	line-height: 10px;
}	
.logo{
	width:60%;
	padding-top: 10px;
	margin:auto;

}
	.logo-img{
		display:block;
		margin:auto;
		width:160px;
	}
.login{
  	width:5%;
	display: none;
}
.login-table{
	margin-top: 4px;
}
.login-text{
	display: none;
	color:#fff;
	font-size: 12px;
	
}
.login-text1{
	display: none;
	color:#fff;
	font-size: 12px;
	margin-left: 10px;
}
.login-input{
	display: none;
	width: 120px;
	height: 23px;
	padding-left: 5px;
	border:none;
	font-size:12px;
	box-shadow: 1px 0 1px 0;
}
/* 	.login-table{
		position: relative;
	} */

.btn-login:hover{
/* 	background-color: #2d4b87; */
	border:solid none;
	cursor: pointer;		
}
.forg{
	display:none;
	text-decoration: none;
	color: #fff;
	font-size: 12px;
	position: relative;
	top:35px;
	left:60px;
	border:solid 1px #000;
	
}
.div2{
/* 	display: none; */
	width: 100%;
}
.left{
	display:none;
	width:37%;
	height: 200px;
	margin: 1em 0 0 0em;
	float: left;
/*  	background-color: orange;  */
}
.right{
	width:330px;
	margin: auto;
	padding:.5em;
/* 	float:right; */
/*   	border:solid 1px blue;   */
}

#right-main-heading> h2{
	
	font-size: 24px;
	color: #333333;
	text-align: center;
/* 	border:1px solid; */
}
#right-main-heading> p{
	font-size: 16px;
	text-align: center;
	color: #333333;
	
}
#form1{
	margin-top: 5px;
/* 	width:400px; */
/*  	border:1px green solid;  */
}
	.signup-form{
		width:80%;
		margin:auto;
/* 		border:1px solid; */
		
	}
.common{
	width: 145px;
	height: 30px;
	font-size: 15px;
	color: gray;
	background-color: #ffffff;
	border: solid 1px  #bbc4dd;
	border-radius: 5px;
}
.common1{
	width: 292px;
	height: 30px;
	margin-top: 5px;
	font-size: 16px;
	color: gray;
	border: solid 1px #bbc4dd;
	border-radius: 5px;
}
#month{
	width: 70px;
	height: 30px;
	font-size: 14px;
	text-align: center;
	position: relative;
	left: 16px;
	border: solid 1px lightgray;
	background-color: #ffffff;
}
#day{
	width: 70px;
	height: 30px;
	margin-top: 5px;
	font-size: 14px;
	text-align: center;
	background-color: #ffffff;
	border: solid 1px lightgray;
  position:relative;
	left:20px;
}
#year{
	width: 70px;
	height: 30px;
	font-size: 14px;
	text-align: center;
	background-color: #ffffff;
  position: relative;
	left: 12px;
	border: solid 1px lightgray;
	
}
.reason-date{
/*  border:1px solid purple;  */
	width:290px;
/* 	float:right;  */
 	margin-left:20px;
	text-decoration: none;
	font-size:11px;
/* 	padding:10px; */
	
}
.link-reason-date{
	text-decoration: none;
	color:#405d9b;
}
.link-reason-date:hover{
	text-decoration: underline;
}
.privacy-text{
/*  	border:1px solid #000;  */
	width:250px;
	color:gray;
	font-size: 12px;
	margin-top:-20px;
	margin-left:20px;
}
.link-privacy-text{
	text-decoration: none;
	font-size: 11px;
	color:#405d9b;
}
.radio{
	width:200px;
 	margin: 0px 10px 10px 20px;
	

}
.gender{
	font-size: 13px;
}
.g1{
	margin-left: 10px;
}
#btn1{
	background-color: #76af6a;
	width: 130px;
	height: 40px;
	color: white;
	cursor: pointer;
	margin-top: 10px;
	margin-left: 20px;
	font-size: 15px;
	border: solid 1px #5d9551;
	border-radius: 5px;
	box-shadow: 0 4px 2px -2px gray;
 
}
#btn1:hover{
	background-color: #86b87a;
	
}
#bday{
	font-size: 17px;
	color: #333333;
	margin-left:20px;
	
}
#form1 placeholder{
	margin-left: 10px;
}
#cpage{
/* 	border-top: solid 2px lightgray;  */
	width: 260px;
	padding-top: 10px;
	margin-top: 10px;
	margin-left: 20px;
}
#cpage a{
	color: #405d9b;
	font-weight: bold;
	font-size: 14px;
}
#cpage >  p{
	font-size: 14px;
	color: #666666;
	font-weight: bold;
	margin-bottom: 10px;	
}
.div3{
/* 	height:150px; */
	padding-bottom:20px;
	padding-left: 10px;
	background-color: #fff;
}
.footer1{
	width:90%;
	margin:auto;
	padding:0 0 8px 0px;
/* 	height:20px; */
 	border-bottom:solid 1px  #c0c0c0; 
}
.footer1-text p{
	display: inline-block;
	color:#a6a6a6;
	font-size: 14px;	
}
.footer1-text a{
	color:#405d9b;
	font-size: 13px;
	margin-left: 10px;
	text-decoration: none;
}
#footer1-lastlink{
	margin-right:10px;
}
.footer1-text button{
	width:30px;
/*  	height:20px;  */
	margin-top:5px;
	line-height: 8px;
	text-align: center;
	font-size: 15px;
	cursor: pointer;
	border: 1px solid #c0c0c0; 
	background-color: #fff;
}
.footer1-text button:hover{
	background-color: #f2f2f2;
	text-decoration: ;
}
.footer2{
	width:90%;
	margin:auto;
	
}
.footer2-links{
/* 	width:780px; */
/* 	height:20px; */
	padding: 5px 0 10px 0;
/* 	border-bottom:solid 1px; */
	
}
.footer2-ul {
	width:100%;
	list-style: none;
}
.footer2-li{
	float:left;
	padding: 5px;
	display: block;
 	width:80px; 
	margin: 1px 0 1px 0;
	font-size: 12px;
  color:#405d9b;
}
.footer2-li-links{
 	width:100%;  
	display: block;
/* 	border:1px solid; */
	color:#405d9b;
	text-decoration:none;
}
.copy-right{
	color:#9d9fa0;
	font-size: 12px;
	margin-top:5px;
}
.div1::after,
.div2::after,
.bday-div::after,
.footer2-links::after,
.reason-date::after 
{
	content: "";
	display: block;
	clear: both;
}
}
@media screen and (max-width:389px) 
{
		*{
	margin: 0;
	padding: 0;
}
body{
 	min-width: 287px; 
/* 	border: solid black; 389px */
	font-family:"HelveticaNeue-Thin", helvetica, arial, sans-serif;
	background-color: #e9ecf4;
  	  

}
.div1{
	width:100%;
	height:83px;
	background-color: #405d9b;
}
.logo{
	width:60%;
	padding-top: 10px;
	margin:auto;
/*  	border:solid 1px yellow; */

}
	.logo-img{
		display:block;
		margin:auto;
		width:160px;
/*   	border:solid pink 2px;  */
	}
.btn-login-responsive{
	height:30px; 
	width:68px;
	font-size: 15px;
	margin-left: 50px;
	color:#fff;
	text-decoration: underline;
	background-color: #405d9b;
	border:1px solid #405d9b;
	border-radius: 3px 3px 3px 3px;
/* 	margin-left: 5px; */
	line-height: 10px;
}	
.login{
 width:5%;  
 display: none;
}
.login-table{
	margin-top: 4px;
}
.login-text{
	display: none;
	color:#fff;
	font-size: 12px;
	
}
.login-text1{
	display: none;
	color:#fff;
	font-size: 12px;
	margin-left: 10px;
}
.login-input{
	display: none;
	width: 120px;
	height: 23px;
	padding-left: 5px;
	border:none;
	font-size:12px;
	box-shadow: 1px 0 1px 0;
}
/* 	.login-table{
		position: relative;
	} */


.btn-login:hover{
/* 	background-color: #2d4b87; */
	border:solid none;
	cursor: pointer;		
}
.forg{
	display:none;
	text-decoration: none;
	color: #fff;
	font-size: 12px;
	position: relative;
	top:35px;
	left:60px;
	border:solid 1px #000;
	
}
.div2{
	width: 100%;
}
.left{
	display:none;
	width:37%;
	height: 200px;
	margin: 1em 0 0 0em;
	float: left;
/*  	background-color: orange;  */
}
.right{
/* 	display: none; */
	width:270px;
	margin: auto;
	padding:.5em;
/* 	float:right; */
/*   	border:solid 1px blue;    */
}
#right-main-heading{
		width:250px;
	  margin:auto;
/* 		border:gray solid 1px; */
	}

#right-main-heading> h2{
	font-size: 23px;
	color: #333333;
	text-align: center;
/*  	border:1px solid;   */
}
#right-main-heading> p{
	font-size: 16px;
	text-align: center;
	color: #333333;
/* 	border:1px solid; */
	
}
#form1{
	margin-top: 5px;
/* 	width:280px;  */
/*   border:1px green solid; */
}
	.signup-form{
		width:90%;
		margin:auto;
/* 		border:1px solid; */
		
	}
.common{
	width: 125px;
	height: 30px;
	font-size: 15px;
	color: gray;
	background-color: #ffffff;
	border: solid 1px  #bbc4dd;
	border-radius: 5px;
}
.common1{
	width: 262px;
	height: 30px;
	margin-top: 5px;
	font-size: 16px;
	color: gray;
	border: solid 1px #bbc4dd;
	border-radius: 5px;
}
#month{
	width: 70px;
	height: 30px;
	font-size: 14px;
	text-align: center;
	position: relative;
	left: 3px;
	border: solid 1px lightgray;
	background-color: #ffffff;
}
#day{
	width: 70px;
	height: 30px;
	margin-top: 5px;
	font-size: 14px;
	text-align: center;
	background-color: #ffffff;
	border: solid 1px lightgray;
  position:relative;
	left:8px;
}
#year{
	width: 70px;
	height: 30px;
	font-size: 14px;
	text-align: center;
	background-color: #ffffff;
  position: relative;
	left: -3px;
	border: solid 1px lightgray;
	
}
.reason-date{
/*   border:1px solid purple;   */
	width:230px;
/* 	float:right;  */
 	margin-left:10px;
	text-decoration: none;
	font-size:11px;
/* 	padding:10px; */
	
}
.link-reason-date{
	text-decoration: none;
	color:#405d9b;
}
.link-reason-date:hover{
	text-decoration: underline;
}
.privacy-text{
/*  	border:1px solid #000;   */
	width:240px;
	color:gray;
	font-size: 12px;
	margin-top:-20px;
	margin-left:10px;
}
.link-privacy-text{
	text-decoration: none;
	font-size: 11px;
	color:#405d9b;
}
.radio{
	width:200px;
 	margin: 0px 10px 10px 10px;
	

}
.gender{
	font-size: 13px;
}
.g1{
	margin-left: 10px;
}
#btn1{
	background-color: #76af6a;
	width: 130px;
	height: 38px;
	color: white;
	cursor: pointer;
	margin-top: 10px;
	margin-left: 10px;
	font-size: 15px;
	border: solid 1px #5d9551;
	border-radius: 5px;
	box-shadow: 0 4px 2px -2px gray;
 
}
#btn1:hover{
	background-color: #86b87a;
	
}
#bday{
	font-size: 17px;
	color: #333333;
	margin-left:20px;
	
}
#form1 placeholder{
	margin-left: 10px;
}
#cpage{
/*  	border-top: solid 2px lightgray;   */
	width: 240px;
	padding-top: 10px;
	margin-top: 10px;
	margin-left: 10px;
}
#cpage a{
	color: #405d9b;
	font-weight: bold;
	font-size: 13px;
}
#cpage >  p{
	font-size: 13px;
	color: #666666;
	font-weight: bold;
	margin-bottom: 10px;	
}
.div3{
/* 	width:96.5%; */
/* 	height:150px; */
	padding-bottom:20px;
	padding-left: 10px;
	background-color: #fff;
}
.footer1{
	width:90%;
	margin:auto;
	padding:0 0 8px 0px;
/* 	height:20px; */
 	border-bottom:solid 1px  #c0c0c0; 
}
.footer1-text p{
	display: inline-block;
	color:#a6a6a6;
	font-size: 14px;	
}
.footer1-text a{
	color:#405d9b;
	font-size: 13px;
	margin-left: 10px;
	text-decoration: none;
}
#footer1-lastlink{
	margin-right:10px;
}
.footer1-text button{
	width:30px;
/*  	height:20px;  */
	margin-top:5px;
	line-height: 8px;
	text-align: center;
	font-size: 15px;
	cursor: pointer;
	border: 1px solid #c0c0c0; 
	background-color: #fff;
}
.footer1-text button:hover{
	background-color: #f2f2f2;
	text-decoration: ;
}
.footer2{
	width:90%;
	margin:auto;
	
}
.footer2-links{
/* 	width:780px; */
/* 	height:20px; */
	padding: 5px 0 10px 0;
/* 	border-bottom:solid 1px; */
	
}
.footer2-ul {
	width:100%;
	list-style: none;
}
.footer2-li{
	float:left;
	padding: 5px;
	display: block;
 	width:80px; 
	margin: 1px 0 1px 0;
	font-size: 12px;
  color:#405d9b;
}
.footer2-li-links{
 	width:100%;  
	display: block;
/* 	border:1px solid; */
	color:#405d9b;
	text-decoration:none;
}
.copy-right{
	color:#9d9fa0;
	font-size: 12px;
	margin-top:5px;
}
.div1::after,
.div2::after,
.bday-div::after,
.footer2-links::after,
.reason-date::after 
{
	content: "";
	display: block;
	clear: both;
}
}






